{% extends 'mainapp/base.html' %}

{% block content %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            {% for project in projects_list %}
                <div class="col-sm-4">
                    <div class="card " style="margin-bottom: 20px; min-height: 400px;">
                        <div class="card-header">
                            {{project.project_title}}
                        </div>
                        <img src="{{ project.project_title_image.url }}" class="card-img-top" alt="TEXTED" style="height: 250px; width: auto; ">
                        <div class="card-body">
                            <p>{{project.project_description | truncatechars:500}}</p>
                            <a href="{{project.project_url}}" target="_blank" class="btn btn-primary" >View Code in GitHub</a>    
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
            
    </div>

{% endblock %}
    